/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ESTILOS */
body{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100dvh;

    & main {

        & h5{
            font-size: 18px;
        }
        & h1{
            font-size: 32px;
            font-weight: 900;
        }
    }
}
